* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

.task-list {
  max-width: 800px;
}

.list-item {
  background-color: #F5F5F5;
  padding: 12px;
  border-radius: 6px;
}

.title {
  font-weight: 500;
}